@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #141414;
  color: #999;
  line-height: 1.6;
  font-size: 18px;
}

.btn-primary {
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: transparent;
  padding: 15px 45px;
  border-radius: 30px 0px 30px 0px;
  border: 1px solid #fff;
  transition: all 0.5s;
  display: inline-flex;
}
.btn-primary:hover {
  background-color: #ffbf00;
  border: 1px solid #ffbf00;
}

.container {
  max-width: 1320px;
  padding: 0px 15px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1630px;
  padding: 0px 15px;
  margin: 0 auto;
}


.contact-small {
  position: absolute;
  left: 21%;
  top: 18%;
  border: 1px solid #ddd;
  padding: 7px;
  font-size: 12px;
  border-radius: 5px;
}

.btn-mail {
  display: inline-block;
  background-color: #fff;
  color: #121212;
  padding: 10px 30px;
  border-radius: 100px;
  transition: all 0.5s; 
}
.btn-mail:hover {
   background-color: #ffbf00;
   color: #fff;
}

.btn-mail svg {
  display: inline-block;
  padding-left: 10px;
  transform: rotate(-45deg);
  font-size: 24px;
}

.small-text {
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 7px 15px;
}